<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DatabaseConnection" 
         connectionString="Data Source=10.125.18.17;Initial Catalog=TICKELIA;User ID=talend;Password=Tx#n7hbu;" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="LogFilePath" value="C:\Logs\FactListService.log" />
    <add key="ApiUrl" value="https://cloud.tickelia.com/Tickelia14/Tickelia_WCF/wcfJsonTickelia.svc/GetLiquidacion2" />
    <add key="liquidacion" value="getliquidacion"/>
     <add key="log" value="log"/>
    <add key="token" value="token"/>
    <add key="getanticipo" value="getanticipo"/>
    <add key="interval" value = ""/>
  </appSettings>
</configuration>
